.container{
  background: white;
  text-align: center;
  border-radius: 5%;
  width: 350px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  top: 30px;
}
.offers{
  text-align: left;
  padding: 20px;
}
button {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: .8rem;
  width: 90%;
  margin: 20px;
  background: rgb(30, 111, 128);
  cursor: pointer;
  font-size: 15px;
}
.App{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
body{
    background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
span{
  font-size: 15px;
}
.h{
  opacity: 50%;
}
